<h1>
  Showing {{ items().length }} Item(s)
  <button
    type="button"
    class="pull-right btn btn-primary"
    (click)="getItems()"
  >
    Refresh
  </button>
</h1>

@if ( errorMessage() ) {
  <div class="error-message"> {{ errorMessage() }} </div>
}

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    @for (item of items(); track item.id) {
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.description }}</td>
        <td>
          @if ( item.isCompleted ) {
            <!-- Show something while the request is in flight -->
            completed
          } @else {
            <button
            type="button"
            class="btn btn-warning btn-sm"
            (click)="handleMarkAsComplete(item)"
          >
            Mark as completed
          </button>
          }
        </td>
      </tr>
    }

  </tbody>
</table>